[BASIC]

# Good variable names which should always be accepted, separated by a comma
good-names=A,B,c,dp,e,i,j,k,m,M,n,N,r,s,s1,s2,T,T1,T2,x,x1,x2,y

# Regular expression which should only match function or class names that do
# not require a docstring.
no-docstring-rgx=^(_|Test|test)